.primary{
    color: #c8472c;
    border-color: #c8472c;

}
.secondary{
    color: #58acf4;
    border-color: #58acf4;
}

.third{
    color: #ffd700;
    border-color: #ffd700;
}
.black{
    color: black;
}